body {
    font-family: Arial, sans-serif;
    
}

/*  CSS CHO THẺ HEADER  */
/*  ------------------  */
/*  ------------------  */
header {
    background-color: #00ffff;
    padding: 5px; 
    display: flex;
    justify-content: space-between;
}

.logo_web{
    flex: 1; 
}
    .logo_web .anh_logo {
        width: 120px;
        height: 120px;
    }

.Tieude_web{
    flex:3;
}
.Tieude_web h1 {
    
    text-align: center;
    color: black;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

    .Tieude_web h3 {
   
    text-align: center;
    color: #98a949;
}


/*  ------------------  */
/*  ------------------  */

nav {
    background-color: #4caf50;
    color: white;
    padding: 3px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-right: 10px;
}

button {
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

    button:hover {
        text-decoration: underline;
    }

/* Đặc biệt cho từng nút */
.btn-trangchu {
    background-color: #4caf50; /* Màu xanh lá cây */
}

.btn-timkiem {
    background-color: #2196F3; /* Màu xanh dương */
}

.btn-dondathang {
    background-color: #f44336; /* Màu đỏ */
}

.btn-lichsumua {
    background-color: #FFC107; /* Màu vàng */
}

.btn-phanhoi {
    background-color: #9C27B0; /* Màu tím */
    margin-right: 250px;
}

/*  ------------------  */
/*  ------------------  */
.not-show{
    display:none !important;
}

.btn-xinchao{
    color:black;
}


/*  ---------Phần Giữa ---------  */

.timkiem-title{
    margin :auto;
    width : 70%;
}