body {
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    background-color: #00ffff;
    padding: 20px;
}

    header h1 {
        color: black;
        font-size: 36px; /* Đặt kích thước phù hợp */
        font-weight: bold; /* Làm đậm chữ */
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Tạo hiệu ứng đổ bóng */
    }

    header h3 {
        color: #98a949;
    }

nav {
    background-color: #00ffff;
    margin-top: 0px;
    height: 50px
}

    nav ul {
        list-style-type: none;
        padding: 0;
    }

    nav li {
        display: inline;
        margin-right: 30px;
        font-weight: bold;
    }

#nut-dang-nhap {
    margin-left: 750px;
    margin-right: 10px;
}





.product-outer {
    width: 300px; /* Đặt chiều rộng của sản phẩm */
    border: 1px solid #ccc; /* Thêm khung viền */
    margin: 10px; /* Tạo khoảng cách giữa các sản phẩm */
    padding: 10px; /* Tạo khoảng cách bên trong sản phẩm */
}

.product-inner {
    padding: 10px;
}

.product-body {
    text-align: center; /* Căn giữa nội dung trong sản phẩm */
}

.woocommerce-loop-product__title {
    font-size: 14px; /* Đặt kích thước phông chữ cho tên sản phẩm */
}

.woocommerce-product-details__short-description {
    font-size: 12px; /* Đặt kích thước phông chữ cho mô tả sản phẩm */
}

.price {
    font-size: 14px; /* Đặt kích thước phông chữ cho giá sản phẩm */
}

.button {
    font-size: 12px; /* Đặt kích thước phông chữ cho nút */
}

label {
    font-size: 12px;
}

.not-show {
    display: none !important;
}

.content-Tieude {
    display: flex;
    align-items: center;
    padding: 40px;
    font-weight: 800;
    border-radius: 6px;
    margin-left: 400px;
    margin-right:10px;
}

icon{
    margin-left: 10px;
    margin-right: 10px;
    color : red;
}
